.image{
    width: 750px;
    height: auto;
    border-color: black;
    border-radius: 5%;
    padding-bottom: 20px;
}
.h3_details{
    margin-top: 10%;
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.recaja{
    justify-content: center;
    background-image:url(./bg.gif);
    background-size: cover;
    text-align: center;
    display:grid;
}

.p{
    width: 40 0px;
    height: 20px;
    font-family: sans-serif; 
    color: #ffffff; 
    font-size: 18px; 
    font-weight: 400; 
    text-align: center; 
    background: blue; 
    margin: 0 0 25px;
    padding: 20px; 
    border: 2px solid #5878ca;
    justify-content: center;
    align-content: center;
}
.conteinDesc{
    width: 710px;
    height: 300px;
    font-family: sans-serif; 
    color: #ffffff; 
    font-size: 20px; 
    font-weight: 400; 
    text-align: center; 
    background: blue; 
    margin: 0 0 25px; 
    overflow:auto;
    padding: 20px; 
    border: 2px solid #5878ca;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.conteinDesc::-webkit-scrollbar {
    display: none;
}

.conteinDesc {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.backDetails{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color:#000000;
    text-transform: uppercase;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.2s;
    background: linear-gradient(#3f34a3, #ffebeb, #320b9e);
    border: solid 1px rgb(255, 255, 255);
    border-radius: 60px;
}
.backDetails:hover{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 010px #2196f3, 0 0 10px #2196f3,0 0 40px #2196f3,0 0 60px #2196f3,0 0 80px #2196f3,0 0 100px #2196f3;
    transition-delay:1s;
    transition: 0.5ms;
}