body{
    margin: 0;
    padding: 0;
    background: #262626;
}
.loader{
    position:fixed;
    top: 50%;
    left:40%;
    transform: translate(-50%,-50%);
    width: 50px;
    text-align:justify ;
    line-height: 150px;
    font-family: sans-serif;
    font-size: 100px;
    color: cyan;
    text-shadow: 0 0 10px #15f4ee;
}
