    
.backg {
    background-image: url(./wp.jpg);
    background-size: cover;
    background-attachment: fixed;
    height:1200px;
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family:dollar;
    src: url(../../fonts/Dollaroutlinedemo-p7vz1.otf);
}

.title {
    font-size: 100px;
    font-family: dollar;
    color: black;
    text-shadow: 0 0 10px yellow, 0 0 10px red;
  }

.outer1 button{
    background: green;
    color: black;
    font-size: 20px;
}

.button button{
    height: 60px;
    width: 210px;
    border-radius: 10px;
}


